<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta name="Cyborg" content="AutoML login portal">
        <title>Login - Cyborg</title>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Slabo+27px');
            @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
        </style>
        <style media="screen" >

        </style>
    </head>
    <body>
        <div class="wrapper">
            <div class="cyborg-header-bar centered">
                <div class="cyborg-header-content clearfix">
                    <div class="logo logo-w" aria-label="Cyborg">

                    </div>
                </div>
            </div>
            <div class="main content clearfix">

            </div>
            <div class="cyborg-footer-bar">

            </div>
        </div>
        <h1 id="banner">Cyborg</h1>
        <h2>Login to Cyborg AutoML</h2>
        <div class="signin-card">
            login pass
        </div>
        <footer>
            <p>scddscdsc</p>
        </footer>
    </body>
</html>