<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cyborg{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'mlearn/../../mlearn/static/css/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'mlearn/../../mlearn/static/js/main.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div>
            <h2 style="align-content: center; font-family: 'Satisfy', cursive; -webkit-align-content: center;">Cyborg</h2>
            <div class="panel panel-default" style="max-width: 400px; height: inherit">
                <div class="panel-body">
                    <h4>Register</h4>
                    <hr>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-vertical" role="form" action="{% url 'mlearn:login'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'mlearn/form_template.html' %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Already have an account? <a href="{% url 'mlearn:login' %}">Click here</a> to log in.
                </div>
            </div>
        </div>
    </div>
</div>
